<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipe.imagePath }}" alt="" class="img-responsive" *ngIf="recipe; else elseBlockImage">
    <p #elseBlockImage>Could not load image of recipe</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1 *ngIf="recipe; else elseBlockName">{{ recipe.name }}</h1>
    <ng-template #elseBlockName><h1>Could not load name of recipe</h1></ng-template>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add to Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p *ngIf="recipe; else elseBlockDescription">{{ recipe.description }}</p>
    <ng-template #elseBlockDescription><p>Could not load description of recipe</p></ng-template>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
